#---------------------------------------------------------------
#
# ETCD configuration options deployed to each Kubernetes Master
#
# This /etc/etcd/etcd.conf Configuration file is managed by Ansible
# any local changes will be defaulted to Ansible values
#
#---------------------------------------------------------------

[member]
ETCD_NAME=ssi-k8ms
ETCD_DATA_DIR="/var/lib/etcd/ssi-k8ms.etcd"
ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:2379"

[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://usctvletcd01v.curbstone.com:2380"
ETCD_INITIAL_CLUSTER="ssi-k8ms-0=https://{{ host['name'][0] }}:2380"

#ETCD_INITIAL_CLUSTER="ssi-k8ms-0=https://{{ host['name'][0] }}:2380, ssi-k8ms-1=https://{{ host['name'][1] }}:2380, ssh-k8ms-2=http://{{ host['name'][2] }}"2380"

ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="ssi-k8ms"

ETCD_ADVERTISE_CLIENT_URLS="https://usctvletcd01v.curbstone.com:2379"

ETCD_ELECTION_TIMEOUT=5000
ETCD_HEARTBEAT_INTERVAL=250
ETCD_LISTEN_PEER_URLS="https://10.13.3.15:2380"

#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
#ETCD_STRICT_RECONFIG_CHECK="false"
#ETCD_AUTO_COMPACTION_RETENTION="0"

[proxy]
ETCD_PROXY="off"
ETCD_PROXY_FAILURE_WAIT="5000"
ETCD_PROXY_REFRESH_INTERVAL="30000"
ETCD_PROXY_DIAL_TIMEOUT="1000"
ETCD_PROXY_WRITE_TIMEOUT="5000"
ETCD_PROXY_READ_TIMEOUT="0"

[security]
ETCD_CERT_FILE="/srv/kubernetes/server.crt"
ETCD_KEY_FILE="/srv/kubernetes/server.key"
ETCD_CLIENT_CERT_AUTH=false
ETCD_TRUSTED_CA_FILE="/srv/kubernetes/ca.crt"
ETCD_AUTO_TLS="false"
ETCD_PEER_CERT_FILE="/srv/kubernetes/peer.crt"
ETCD_PEER_KEY_FILE="/srv/kubernetes/peer.key"
ETCD_PEER_CLIENT_CERT_AUTH="false"
ETCD_PEER_TRUSTED_CA_FILE="/srv/kubernetes/ca.crt"
ETCD_PEER_AUTO_TLS="false"

#[logging]
ETCD_DEBUG="false"
# examples for -log-package-levels etcdserver=WARNING,security=DEBUG
#ETCD_LOG_PACKAGE_LEVELS=""

#[profiling]
#ETCD_ENABLE_PPROF="false"
#ETCD_METRICS="basic"
